<h1 align=center>Hello{{myData.name}}</h1>
<div align=center class="con"> <br>
    <div class="pro">
        <img src="../img\119137737_725594031356410_9011285860922681500_n.jpg" alt=""></div>
    <ul class="">
        {{#with myData.aboutme}}
        <p><b> Full name: </b>{{Fullname}} <br>
       <b>Nickname:</b>  {{nickname}} <br>
       <b> Date of birth:</b> {{dob}} <br>
         <b>  Phone:</b>  {{Phone}} <br>
           <b> Email: </b>{{Email}} <br>
           <b> Website: </b>{{Website}} <br>
           <b> Address:</b> {{Address}}</p>
        {{/with}}
    </ul>
</div>